* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 80%;
  margin-inline: auto;
}

@media (max-width: 992px) {
  .container {
    width: 90%;
  }
}

/* Navbar */
.navbar {
  padding: 30px 0;
}

.navbar-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-box .menu {
  display: flex;
  gap: 30px;
  align-items: center;
}

.navbar-box .menu li {
  list-style-type: none;
}

.navbar-box .menu li a {
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
  .navbar-box {
    flex-direction: column;
    gap: 20px;
  }
  
  .navbar-box .menu {
    flex-wrap: wrap;
    justify-content: center;
  }
}
/* Navbar */

/* Hero */
.hero-box {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(hero.webp);
  width: 100%;
  border-radius: 25px;
  padding: 100px 20px;
  color: white;
}

@media (min-width:992px) {
  .hero-box {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .hero-box p {
    transform: translateX(91%);
  }
}

.hero-box h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
.hero-box p {
  margin-bottom: 30px;
  line-height: 2;
  width: 500px;
  opacity: 75%;
}
.hero-box a {
  text-decoration: none;
  color: white;
  background-color: indigo;
  padding: 10px 25px;
  border-radius: 15px;
  font-size: 18px;
  transition: all .2s ease-in;
}
.hero-box a:hover {
  transform: scale(1.05);
}

@media (max-width: 575px) {
  .hero-box p {
    width: 100%;
  }
}

@media (max-width: 475px) {
  .hero-box h1 {
    font-size: 30px;
  }
  .hero-box p {
    font-size: 14px;
  }
}
/* Hero */

/* Tentang */
.tentang {
  padding: 150px 0;
}

.tentang-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.tentang-box img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.tentang-box h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
.tentang-box p {
  line-height: 2;
  text-align: justify;
}

/* info */
.tentang .info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  gap: 20px;
  flex-wrap: wrap;
}

.tentang .info h2 span {
  color: indigo;
  font-size: 40px;
}
.info h2 {
  padding: 15px;
  transition: all .2s ease-in-out;
  border-radius: 15px;
}
.box1 h2:hover {
  transform: scale(1.05);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(kreatifitas.webp);
}
.box2 h2:hover {
  transform: scale(1.05);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(literasi.webp);
}
.box3 h2:hover {
  transform: scale(1.05);
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(praktek.webp);
}
@media (max-width: 475px) {
  .tentang {
    padding: 80px 0;
  }
}
@media (max-width: 768px) {
  .tentang-box {
    grid-template-columns: 1fr;
  }
}
/* Tentang */

/* Akademik */
.akademik {
  padding-bottom: 100px;
}

.akademik-box .box {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.akademik-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.akademik-box img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.akademik-box .desc {
  padding: 20px;
}
.akademik-box .desc p {
  line-height: 2;
}

@media (max-width:575px) {
  .akademik-box {
    gap: 40px;
  }
}
/* Akademik */

/* PPDB */
.ppdb {
  padding-block: 50px;
}

.ppdb-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  text-align: center;
  align-items: center;
}

.ppdb-box img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.ppdb-box h2 {
  margin-bottom: 10px;
}
.ppdb-box p {
  line-height: 2;
  margin-bottom: 20px;
}
.ppdb-box a {
  text-decoration: none;
  color: white;
  background-color: indigo;
  padding: 10px 20px;
  border-radius: 20px;
}
.ppdb-box a:hover {
  background-color: rgb(100, 0, 171);
}

@media (max-width: 768px) {
  .ppdb-box {
    grid-template-columns: 1fr;
  }
}
/* PPDB */


/* footer */
footer {
  margin-top: 100px;
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 50px;
}

.footer-box h2 {
  margin-bottom: 20px;
}
.footer-box p {
  line-height: 2;
  font-size: 14px;
}

.footer-box .box:nth-child(1) {
  width: 400px;
}
.footer-box .social {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-box .social a {
  text-decoration: none;
  font-size: 28px;
  color: white;
}

.footer-box .social a:hover {
  color: indigo;
}

.footer-box .box:nth-child(2) {
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-box .box:nth-child(2) h2 {
  margin-bottom: 0;
}
.footer-box .box:nth-child(2) a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.footer-box .box:nth-child(2) a:hover {
  color: indigo;
}

.footer-box .box:nth-child(3) {
  width: 300px;
}
.footer-box .box:nth-child(3) p {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.copyright {
  margin-top: 50px;
  text-align: center;
}
.copyright p {
  font-size: 14px;
}
.copyright p span {
  font-weight: bold;
}

/* footer */

/* scroll */
.scroll-up {
  width: 50px;
  height: 50px;
  background-color: indigo;
  color: white;
  border-radius: 100%;
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 40px;
  right: 40px;
  opacity: 0;
  transition: all .2s ease;
}
.scroll-up.scroll-active {
  opacity: 1;
}